<h1>VIEW ISSUES</h1>
<div class="bodywrapper">
<% if (data?.length > 0) { %>
    <% data.forEach(obj => { %>
        <form method="post" id="<%=obj.iid%>" action="./issues">
        <div class="issue-wrapper" id="<%=obj.iid%>">
          <%if(obj.state === 'opened') {%>
            <button type="submit" name="state" value="<%=obj.state%>" class="open-issue-btn">opened</button> 
            <input type="hidden" name="id" value="<%=obj.iid%>"/>
            <%} else {%><button type="submit" name="state" value="<%=obj.state%>" class="closed-issue-btn">closed</button> 
            <input type="hidden" name="id" value="<%=obj.iid%>"/>
            <%}%>            
            <p class="title-in-issue">#<%=obj.iid%>. <%=obj.title %></p>
            <br><p class="issue-description"><%=obj.description%></p>
            <img src="<%=obj.avatar%>" id="img-right" crossorigin>
            <p class="author"><%=obj.author%></p>
       </div>
    </form>
    <% }) %>
  <% } else { %>
      <p class="no-issues">Oh no! No issues to display.</p>
      <%}%>
  </div>
     <%# Socket.IO: Template for the client. The same as above, sort of. %>
     <div class="bodywrapper">
<template id="issue-template">
    <form method="post" id="" action="./issues">
        <div class="issue-wrapper" id="">
    <button type="submit" name="state" value="" class=""></button>
    <input type="hidden" name="id" value=""/>
      <p class="title-in-issue"></p><br>
      <p class="issue-description"></p>
      <img src="" id="img-right" crossorigin>
      <p class="author"></p>
    </div>
      </form>
</template>
</div>
   
